@if $DEV {
    .container {
        border: 1px solid #ffdddd;
    }
    .wrapper {
        border: 1px solid #ddffdd;
    }
}

%dev {
    &_container {
        @if $DEV {
            border: 1px solid #ffdddd;
        }
    }
    &_wrapper {
        @if $DEV {
            border: 1px solid #ddffdd;
        }
    }
}
